.flashcards__btn{
    padding: 7px 12px;
    margin-top: 10px;
    border: 1px solid green;
    background-color: green;
    color: white;
    border-radius: 7px;
    cursor:pointer;

}
.flashcards__btn:focus{
    background-color:rgb(154, 219, 170);
}

.header__btn{
    background-color: rgb(109, 175, 10);
    border: 1px solid white;
    color:aliceblue;
    padding: 7px 15px;
    border-radius: 7px;
    cursor:pointer;
    }

