.slider__card{
    display:flex;
    flex-direction: column;

    border: 2px solid green;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    text-align: center;

    .slider__word{
        color: green;
        font-weight: 400;
    }
    
}

.flashcards__card{
    display:flex;
    padding: 10px;
    flex-direction: column;
    border: 1px solid green;
    width: 150px;
    height: 200px;
    text-align: center;
    border-radius: 10px;


    .flashcard__word{
        color: green;
        font-weight: 400;

    }
}


