.header {
    background-color: greenyellow;
    padding: 10px;

    .header__button{
    background-color: rgb(109, 175, 10);
    border: 1px solid white;
    color:aliceblue;
    padding: 7px 15px;
    }
}